html
{
 scroll-snap-type: y mandatory;
}
.app
{

  height: 100vh;
  display:grid;
  background-color: #000000;
  place-items: center;

}

.app__videos
{
position: relative;
width: 80%;
overflow: scroll;
height:94vh;
scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar
{
  display: none;
}